<div ...attributes class="toast-header">
  {{#if (has-block)}}
    {{yield}}
  {{else}}
    <strong class="me-auto">{{@options.title}}</strong>
    {{#if @options.messageSecondary}}
      <small class="text-body-secondary">{{@options.messageSecondary}}</small>
    {{/if}}
    {{#if @options.isClosable}}
      <Toasts::Base::Close @options={{@options}} @onClose={{@onClose}} />
    {{/if}}
  {{/if}}
</div>